<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aoms.pm.cast.mapper.CastDepMapper">
    <select id="retrieveDepFcltList" resultType="aoms.pm.cast.dto.DepFcltRawDto">
        /* CastDepMapper.retrieveDepFcltList */
        SELECT
            SUBSTR(B.PSG_FCLT_CD, 4, 1) AS DPTGT_NO,
            B.PSG_FCLT_NM AS DPTGT_NM,
            B.USE_YN
        FROM PMOWN.TN_PM_SMLT_PSG_FCLT B
        WHERE 1 = 1
        AND B.TMNL_ID = #{tmnlId}
        <!-- 미운영 출국장도 화면 하단 칩으로 내려가므로 USE_YN 으로 거르지 않는다 -->
        AND B.UP_PSG_FCLT_CD IN ('LGT')
        ORDER BY DPTGT_NO
    </select>

    <select id="retrieveScCntList" resultType="aoms.pm.cast.dto.ScCntRawDto">
        /* CastDepMapper.retrieveScCntList */
        SELECT
            A.GATE_NO AS DPTGT_NO,
            A.FCLTY_CNT AS SCSH_CNTOM
        FROM PMOWN.TN_PM_SMLT_FCLTY_OPNG_SCRTY_CNTRL_ATRB A
        WHERE 1 = 1
        AND A.SCRTY_CNTRL_ATRB_ID = REGEXP_REPLACE(#{scRsrcId}, 'FOTSC|FacilityOpeningTable_SecurityControl', '')
        AND A.TMNL_ID = #{tmnlId}
        ORDER BY DPTGT_NO
    </select>

    <select id="retrieveUserDepList" resultType="aoms.pm.cast.dto.DepGateDto">
        /* CastDepMapper.retrieveUserDepList */
        SELECT
            A.DPTGT_NO,
            A.OPER_YN AS OPR_YN,
            NVL(A.SCSH_CNTOM, 0) AS SCSH_CNTOM,
            NVL(A.GNRL_SRCH_CNTOM, 0) AS GNRL_SRCH_CNTOM,
            NVL(A.SMART_PASS_SRCH_CNTOM, 0) AS SMART_PASS_SRCH_CNTOM
        FROM PMOWN.TN_PM_SMLT_USER_DPTGT A
        WHERE 1 = 1
        AND A.SMLT_ID = #{smltId}
        AND A.TMNL_ID = #{tmnlId}
        ORDER BY A.DPTGT_NO
    </select>

    <select id="retrieveUserDepOperHrList" resultType="aoms.pm.cast.dto.UserDepOperHrRawDto">
        /* CastDepMapper.retrieveUserDepOperHrList */
        SELECT
            A.DPTGT_NO,
            NVL(A.OPER_BGNG_HOUR, 0) AS OPER_BGNG_HOUR,
            NVL(A.OPER_END_HOUR, 0) AS OPER_END_HOUR
        FROM PMOWN.TN_PM_SMLT_USER_DPTGT_OPER_HR A
        WHERE 1 = 1
        AND A.SMLT_ID = #{smltId}
        AND A.TMNL_ID = #{tmnlId}
        ORDER BY A.DPTGT_NO, A.OPER_HR_SN
    </select>

    <select id="retrieveUserScPlanList" resultType="aoms.pm.cast.dto.UserScPlanRawDto">
        /* CastDepMapper.retrieveUserScPlanList */
        SELECT
            A.DPTGT_NO,
            A.PLAN_SN,
            NVL(A.OPER_BGNG_HOUR, 0) AS OPER_BGNG_HOUR,
            NVL(A.OPER_END_HOUR, 0) AS OPER_END_HOUR,
            NVL(A.SCSH_CNTOM, 0) AS SCSH_CNTOM
        FROM PMOWN.TN_PM_SMLT_SCSH_OPER_PLAN A
        WHERE 1 = 1
        AND A.SMLT_ID = #{smltId}
        AND A.TMNL_ID = #{tmnlId}
        ORDER BY A.DPTGT_NO, A.OPER_BGNG_HOUR
    </select>

    <delete id="deleteUserDepList" parameterType="aoms.pm.cast.dto.UserSmltDepSaveDto">
        /* CastDepMapper.deleteUserDepList */
        DELETE FROM PMOWN.TN_PM_SMLT_USER_DPTGT
        WHERE 1 = 1
        AND SMLT_ID = #{smltId}
        AND TMNL_ID = #{fcltTmnlId}
    </delete>

    <delete id="deleteUserDepOperHrList" parameterType="aoms.pm.cast.dto.UserSmltDepSaveDto">
        /* CastDepMapper.deleteUserDepOperHrList */
        DELETE FROM PMOWN.TN_PM_SMLT_USER_DPTGT_OPER_HR
        WHERE 1 = 1
        AND SMLT_ID = #{smltId}
        AND TMNL_ID = #{fcltTmnlId}
    </delete>

    <delete id="deleteUserScPlanList" parameterType="aoms.pm.cast.dto.UserSmltDepSaveDto">
        /* CastDepMapper.deleteUserScPlanList */
        DELETE FROM PMOWN.TN_PM_SMLT_SCSH_OPER_PLAN
        WHERE 1 = 1
        AND SMLT_ID = #{smltId}
        AND TMNL_ID = #{fcltTmnlId}
    </delete>

    <insert id="insertUserDepList" parameterType="aoms.pm.cast.dto.UserSmltDepSaveDto">
        /* CastDepMapper.insertUserDepList */
        INSERT ALL
        <foreach collection="dptgtList" item="dep">
        INTO PMOWN.TN_PM_SMLT_USER_DPTGT (
            SMLT_ID,
            TMNL_ID,
            DPTGT_NO,
            OPER_YN,
            SCSH_CNTOM,
            GNRL_SRCH_CNTOM,
            SMART_PASS_SRCH_CNTOM,
            FRST_RGTR_ID,
            FRST_RGTR_IP_ADDR,
            FRST_REG_DT
        ) VALUES (
            #{smltId},
            #{fcltTmnlId},
            #{dep.dptgtNo},
            #{dep.oprYn},
            #{dep.scshCntom},
            #{dep.gnrlSrchCntom},
            #{dep.smartPassSrchCntom},
            #{loginUserId},
            #{loginIpAddr},
            CURRENT_TIMESTAMP
        )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <insert id="insertUserDepOperHrList" parameterType="aoms.pm.cast.dto.UserSmltDepSaveDto">
        /* CastDepMapper.insertUserDepOperHrList */
        INSERT ALL
        <foreach collection="dptgtList" item="dep">
            <foreach collection="dep.oprTimeList" item="oprTime" index="oprTimeIdx">
        INTO PMOWN.TN_PM_SMLT_USER_DPTGT_OPER_HR (
            SMLT_ID,
            TMNL_ID,
            DPTGT_NO,
            OPER_HR_SN,
            OPER_BGNG_HOUR,
            OPER_END_HOUR,
            FRST_RGTR_ID,
            FRST_RGTR_IP_ADDR,
            FRST_REG_DT
        ) VALUES (
            #{smltId},
            #{fcltTmnlId},
            #{dep.dptgtNo},
            #{oprTimeIdx} + 1,
            #{oprTime.operBgngHour},
            #{oprTime.operEndHour},
            #{loginUserId},
            #{loginIpAddr},
            CURRENT_TIMESTAMP
        )
            </foreach>
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <insert id="insertUserScPlanList" parameterType="aoms.pm.cast.dto.UserSmltDepSaveDto">
        /* CastDepMapper.insertUserScPlanList */
        INSERT ALL
        <foreach collection="dptgtList" item="dep">
            <foreach collection="dep.planList" item="plan" index="planIdx">
        INTO PMOWN.TN_PM_SMLT_SCSH_OPER_PLAN (
            SMLT_ID,
            TMNL_ID,
            DPTGT_NO,
            PLAN_SN,
            OPER_BGNG_HOUR,
            OPER_END_HOUR,
            SCSH_CNTOM,
            FRST_RGTR_ID,
            FRST_RGTR_IP_ADDR,
            FRST_REG_DT
        ) VALUES (
            #{smltId},
            #{fcltTmnlId},
            #{dep.dptgtNo},
            #{planIdx} + 1,
            #{plan.operBgngHour},
            #{plan.operEndHour},
            #{plan.scshCntom},
            #{loginUserId},
            #{loginIpAddr},
            CURRENT_TIMESTAMP
        )
            </foreach>
        </foreach>
        SELECT 1 FROM DUAL
    </insert>
</mapper>
