<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aoms.pm.cast.mapper.CastChknMapper">
    <select id="retrieveCknctCntList" resultType="aoms.pm.cast.dto.CknctCntRawDto">
        /* CastChknMapper.retrieveCknctCntList */
        SELECT
            SUBSTR(A.CKNCT_ID, 1, 1) AS ISLAND,
            COUNT(A.CKNCT_ID) AS CKNCT_CNT
        FROM CAOWN.TN_CA_CKNCT A
        WHERE 1 = 1
        AND A.TMNL_ID = #{tmnlId}
        AND A.USE_YN = 'Y'
        -- A, B 유인 체크인카운터 / H 셀프백드랍
        AND A.CKNCT_USE_CRG_APLCN_TYPE_CD IN (<foreach collection="useCrgTypeCdList" item="item" separator=",">#{item}</foreach>)
        GROUP BY SUBSTR(A.CKNCT_ID, 1, 1)
        ORDER BY ISLAND
    </select>

    <select id="retrieveAlnCdList" resultType="java.lang.String">
        /* CastChknMapper.retrieveAlnCdList */
        SELECT DISTINCT A.ALN_CD
        FROM GOOWN.TI_GO_CKNCT_DALY_ALOT A
        WHERE 1 = 1
        AND A.OPER_YMD = #{ymd}
        AND A.TMNL_ID = #{tmnlId}
        AND A.USE_YN = 'Y'
        ORDER BY A.ALN_CD
    </select>

    <select id="retrieveUserChknIslandList" resultType="aoms.pm.cast.dto.ChknIslandDto">
        /* CastChknMapper.retrieveUserChknIslandList */
        SELECT
            A.CHKN_ISL_CD AS ISLAND,
            NVL(A.BOOTH_CNT, 0) AS BOOTH_CNT,
            NVL(A.KOS_CNT, 0) AS KIOSK_CNT,
            NVL(A.SBD_CNT, 0) AS BAG_DROP_CNT
        FROM PMOWN.TN_PM_SMLT_USER_CHKN_ISL A
        WHERE 1 = 1
        AND A.SMLT_ID = #{smltId}
        AND A.TMNL_ID = #{tmnlId}
        ORDER BY A.CHKN_ISL_CD
    </select>

    <select id="retrieveUserChknOperHrList" resultType="aoms.pm.cast.dto.UserChknOperHrRawDto">
        /* CastChknMapper.retrieveUserChknOperHrList */
        SELECT
            A.CHKN_ISL_CD AS ISLAND,
            NVL(A.OPER_BGNG_HOUR, 0) AS OPER_BGNG_HOUR,
            NVL(A.OPER_END_HOUR, 0) AS OPER_END_HOUR
        FROM PMOWN.TN_PM_SMLT_USER_CHKN_OPER_HR A
        WHERE 1 = 1
        AND A.SMLT_ID = #{smltId}
        AND A.TMNL_ID = #{tmnlId}
        ORDER BY A.CHKN_ISL_CD, A.OPER_HR_SN
    </select>

    <select id="retrieveUserChknBoothList" resultType="aoms.pm.cast.dto.UserChknBoothRawDto">
        /* CastChknMapper.retrieveUserChknBoothList */
        SELECT
            A.CHKN_ISL_CD AS ISLAND,
            A.BOOTH_NO,
            A.ALN_CD,
            A.CSTM_ALTMNT_YN AS CSTM_ALTMNT_YN
        FROM PMOWN.TN_PM_SMLT_USER_CHKN_BOOTH A
        WHERE 1 = 1
        AND A.SMLT_ID = #{smltId}
        AND A.TMNL_ID = #{tmnlId}
        ORDER BY A.CHKN_ISL_CD, A.BOOTH_NO
    </select>

    <delete id="deleteUserChknIslandList" parameterType="aoms.pm.cast.dto.UserSmltChknSaveDto">
        /* CastChknMapper.deleteUserChknIslandList */
        DELETE FROM PMOWN.TN_PM_SMLT_USER_CHKN_ISL
        WHERE 1 = 1
        AND SMLT_ID = #{smltId}
        AND TMNL_ID = #{fcltTmnlId}
    </delete>

    <delete id="deleteUserChknOperHrList" parameterType="aoms.pm.cast.dto.UserSmltChknSaveDto">
        /* CastChknMapper.deleteUserChknOperHrList */
        DELETE FROM PMOWN.TN_PM_SMLT_USER_CHKN_OPER_HR
        WHERE 1 = 1
        AND SMLT_ID = #{smltId}
        AND TMNL_ID = #{fcltTmnlId}
    </delete>

    <delete id="deleteUserChknBoothList" parameterType="aoms.pm.cast.dto.UserSmltChknSaveDto">
        /* CastChknMapper.deleteUserChknBoothList */
        DELETE FROM PMOWN.TN_PM_SMLT_USER_CHKN_BOOTH
        WHERE 1 = 1
        AND SMLT_ID = #{smltId}
        AND TMNL_ID = #{fcltTmnlId}
    </delete>

    <insert id="insertUserChknIslandList" parameterType="aoms.pm.cast.dto.UserSmltChknSaveDto">
        /* CastChknMapper.insertUserChknIslandList */
        INSERT ALL
        <foreach collection="islandList" item="island">
        INTO PMOWN.TN_PM_SMLT_USER_CHKN_ISL (
            SMLT_ID,
            TMNL_ID,
            CHKN_ISL_CD,
            BOOTH_CNT,
            KOS_CNT,
            SBD_CNT,
            FRST_RGTR_ID,
            FRST_RGTR_IP_ADDR,
            FRST_REG_DT
        ) VALUES (
            #{smltId},
            #{fcltTmnlId},
            #{island.island},
            #{island.boothCnt},
            #{island.kioskCnt},
            #{island.bagDropCnt},
            #{loginUserId},
            #{loginIpAddr},
            CURRENT_TIMESTAMP
        )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <insert id="insertUserChknOperHrList" parameterType="aoms.pm.cast.dto.UserSmltChknSaveDto">
        /* CastChknMapper.insertUserChknOperHrList */
        INSERT ALL
        <foreach collection="islandList" item="island">
            <foreach collection="island.oprTimeList" item="oprTime" index="oprTimeIdx">
        INTO PMOWN.TN_PM_SMLT_USER_CHKN_OPER_HR (
            SMLT_ID,
            TMNL_ID,
            CHKN_ISL_CD,
            OPER_HR_SN,
            OPER_BGNG_HOUR,
            OPER_END_HOUR,
            FRST_RGTR_ID,
            FRST_RGTR_IP_ADDR,
            FRST_REG_DT
        ) VALUES (
            #{smltId},
            #{fcltTmnlId},
            #{island.island},
            #{oprTimeIdx} + 1,
            #{oprTime.operBgngHour},
            #{oprTime.operEndHour},
            #{loginUserId},
            #{loginIpAddr},
            CURRENT_TIMESTAMP
        )
            </foreach>
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <insert id="insertUserChknBoothList" parameterType="aoms.pm.cast.dto.UserSmltChknSaveDto">
        /* CastChknMapper.insertUserChknBoothList */
        INSERT ALL
        <foreach collection="islandList" item="island">
            <foreach collection="island.boothList" item="booth">
        INTO PMOWN.TN_PM_SMLT_USER_CHKN_BOOTH (
            SMLT_ID,
            TMNL_ID,
            CHKN_ISL_CD,
            BOOTH_NO,
            ALN_CD,
            CSTM_ALTMNT_YN,
            FRST_RGTR_ID,
            FRST_RGTR_IP_ADDR,
            FRST_REG_DT
        ) VALUES (
            #{smltId},
            #{fcltTmnlId},
            #{island.island},
            #{booth.boothNo},
            #{booth.alnCd},
            #{booth.cstmAltmntYn},
            #{loginUserId},
            #{loginIpAddr},
            CURRENT_TIMESTAMP
        )
            </foreach>
        </foreach>
        SELECT 1 FROM DUAL
    </insert>
</mapper>
