<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aoms.pm.cast.mapper.CastConfigMapper">
    <select id="retrieveCategoryList" resultType="aoms.pm.cast.dto.CastConfigCategoryDto">
        /* CastConfigMapper.retrieveCategoryList */
        SELECT
            A.FIX_ATRB_GROUP_ID AS FIX_ATRB_GROUP_ID,
            NVL(A.ATRB_GROUP_NM, ' ') AS ATRB_GROUP_NM,
            CASE WHEN A.FIX_ATRB_GROUP_ID = #{baseFixAtrbGroupId} THEN 'Y' ELSE 'N' END AS BASE_YN,
            CASE WHEN A.FIX_ATRB_GROUP_ID = #{prePrcsFixAtrbGroupId} THEN 'Y' ELSE 'N' END AS PRE_PRCS_YN,
            NVL(A.CFMTN_YN, 'N') AS CFMTN_YN,
            NVL(A.GROUP_PRCS_STTS_CD, ' ') AS GROUP_PRCS_STTS_CD,
            NVL(TO_CHAR(A.FRST_REG_DT, 'YYYYMMDDHH24MISS'), ' ') AS FRST_REG_DT,
            NVL(TO_CHAR(A.LAST_MDFCN_DT, 'YYYYMMDDHH24MISS'), ' ') AS LAST_MDFCN_DT
        FROM PMOWN.TN_PM_SMLT_FIX_ATRB_GROUP A
        WHERE 1 = 1
        AND NVL(A.DEL_YN, 'N') = 'N'
        ORDER BY
            CASE A.FIX_ATRB_GROUP_ID
                WHEN #{baseFixAtrbGroupId} THEN 0
                WHEN #{prePrcsFixAtrbGroupId} THEN 1
                ELSE 2
            END,
            A.FIX_ATRB_GROUP_ID
    </select>

    <select id="retrieveCategoryForUpdate" resultType="aoms.pm.cast.dto.CastConfigCategoryDto">
        /* CastConfigMapper.retrieveCategoryForUpdate */
        SELECT
            A.FIX_ATRB_GROUP_ID AS FIX_ATRB_GROUP_ID,
            NVL(A.ATRB_GROUP_NM, ' ') AS ATRB_GROUP_NM,
            NVL(TO_CHAR(A.LAST_MDFCN_DT, 'YYYYMMDDHH24MISS'), ' ') AS LAST_MDFCN_DT
        FROM PMOWN.TN_PM_SMLT_FIX_ATRB_GROUP A
        WHERE A.FIX_ATRB_GROUP_ID = #{fixAtrbGroupId}
        AND NVL(A.DEL_YN, 'N') = 'N'
        FOR UPDATE WAIT 3
    </select>

    <select id="retrieveCategoryCnt" resultType="int">
        /* CastConfigMapper.retrieveCategoryCnt */
        SELECT COUNT(*)
        FROM PMOWN.TN_PM_SMLT_FIX_ATRB_GROUP A
        WHERE 1 = 1
        AND A.FIX_ATRB_GROUP_ID = #{fixAtrbGroupId}
    </select>

    <insert id="insertCategory">
        /* CastConfigMapper.insertCategory */
        INSERT INTO PMOWN.TN_PM_SMLT_FIX_ATRB_GROUP (
            FIX_ATRB_GROUP_ID,
            ATRB_GROUP_NM,
            CFMTN_YN,
            GROUP_PRCS_STTS_CD,
            DEL_YN,
            FRST_RGTR_ID,
            FRST_RGTR_IP_ADDR,
            FRST_REG_DT
        ) VALUES (
            #{fixAtrbGroupId},
            #{atrbGroupNm},
            'N',
            '01',
            'N',
            #{loginUserId},
            #{loginIpAddr},
            TO_TIMESTAMP(#{frstRegDt}, 'YYYYMMDDHH24MISS')
        )
    </insert>

    <select id="retrievePsgAtrbList" resultType="aoms.pm.cast.dto.CastConfigAtrbRawDto">
        /* CastConfigMapper.retrievePsgAtrbList */
        SELECT
            A.PSG_ATRB_CD AS ATRB_CD,
            A.PSG_DTL_SE_CD AS DTL_SE_CD,
            NVL(A.INPT_VL, ' ') AS INPT_VL,
            NVL(A.USER_DEF_1_VL, ' ') AS USER_DEF_1_VL,
            NVL(A.USER_DEF_2_VL, ' ') AS USER_DEF_2_VL,
            NVL(P.PSG_FIX_PARA_CD_NM, ' ') AS ATRB_CD_NM,
            NVL(D.PSG_FIX_PARA_CD_NM, ' ') AS DTL_SE_CD_NM,
            NVL(D.VL_TYPE, 'String') AS CATALOG_VL_TYPE,
            NVL(D.PSG_FIX_PARA_CND_TYPE_CD, ' ') AS CND_TYPE_CD,
            NVL(D.PSG_FIX_PARA_CND_VL, ' ') AS CND_VL,
            NVL(D.PRE_PRCS_YN, 'N') AS PRE_PRCS_YN
        FROM PMOWN.${tableNm} A
        JOIN PMOWN.TN_PM_SMLT_PSG_FIX_PARA_CD P
            ON P.PSG_FIX_PARA_CD = A.PSG_ATRB_CD
        JOIN PMOWN.TN_PM_SMLT_PSG_FIX_PARA_CD D
            ON D.PSG_FIX_PARA_CD = A.PSG_DTL_SE_CD
            AND D.PSG_FIX_PARA_GROUP_CD = P.PSG_FIX_PARA_CD
        WHERE 1 = 1
        AND A.FIX_ATRB_GROUP_ID = #{fixAtrbGroupId}
        AND D.USE_YN = 'Y'
        AND SUBSTR(A.PSG_ATRB_CD, 1, 2) IN
        <foreach collection="rootCdList" item="rootCd" open="(" separator="," close=")">
            #{rootCd}
        </foreach>
        AND (
            (#{tmnlId} = 'T1' AND (
                REGEXP_LIKE(P.PSG_FIX_PARA_CD_NM, '^T1([ _]|$)')
                OR P.PSG_FIX_PARA_CD_NM IN ('P01', 'P02')
                OR REGEXP_LIKE(P.PSG_SMLT_APLCN_NM, '^(P01|P02)(_|$)')
            ))
            OR
            (#{tmnlId} = 'T2' AND (
                REGEXP_LIKE(P.PSG_FIX_PARA_CD_NM, '^T2([ _]|$)')
                OR P.PSG_FIX_PARA_CD_NM = 'P03'
                OR REGEXP_LIKE(P.PSG_SMLT_APLCN_NM, '^P03(_|$)')
            ))
        )
        ORDER BY A.PSG_ATRB_CD, A.PSG_DTL_SE_CD
    </select>

    <select id="retrieveSrvcAtrbList" resultType="aoms.pm.cast.dto.CastConfigAtrbRawDto">
        /* CastConfigMapper.retrieveSrvcAtrbList */
        SELECT
            A.FCLTY_SE_CD AS ATRB_CD,
            A.FCLTY_DTL_CD AS DTL_SE_CD,
            NVL(A.INPT_VL, ' ') AS INPT_VL,
            NVL(A.MIN_VL, 0) AS MIN_VL,
            NVL(A.MAX_VL, 0) AS MAX_VL,
            NVL(A.DSTB_MAX_VL, 0) AS DSTB_MAX_VL,
            NVL(A.VL_TYPE, ' ') AS VL_TYPE,
            NVL(A.SWTC_FNC_ID, ' ') AS SWTC_FNC_ID,
            NVL(A.VRFC_FNC_ID, ' ') AS VRFC_FNC_ID,
            A.FCLTY_SE_CD AS ATRB_CD_NM,
            A.FCLTY_DTL_CD AS DTL_SE_CD_NM,
            'String' AS CATALOG_VL_TYPE,
            'N' AS PRE_PRCS_YN
        FROM PMOWN.TN_PM_SMLT_SRVC_ATRB A
        WHERE 1 = 1
        AND A.FIX_ATRB_GROUP_ID = #{fixAtrbGroupId}
        AND A.FCLTY_SE_CD IN
        <foreach collection="fcltySeCdList" item="fcltySeCd" open="(" separator="," close=")">
            #{fcltySeCd}
        </foreach>
        ORDER BY A.FCLTY_SE_CD, A.FCLTY_DTL_CD
    </select>

    <select id="retrieveCknctTypeAtrbList" resultType="aoms.pm.cast.dto.CastConfigAtrbRawDto">
        /* CastConfigMapper.retrieveCknctTypeAtrbList */
        <!-- 전 행이 파이프라인 산출물이라 카탈로그 조인도 PRE_PRCS_YN 플래그도 없다 -->
        SELECT
            A.ALN_CD AS ATRB_CD,
            ' ' AS DTL_SE_CD,
            NVL(TO_CHAR(A.CKNCT_RT), ' ') AS CKNCT_RT,
            NVL(TO_CHAR(A.KOS_RT), ' ')   AS KOS_RT,
            NVL(TO_CHAR(A.MOB_RT), ' ')   AS MOB_RT,
            NVL(TO_CHAR(A.SRVC_HR), ' ')  AS SRVC_HR,
            A.ALN_CD AS ATRB_CD_NM,
            ' ' AS DTL_SE_CD_NM,
            'Number' AS CATALOG_VL_TYPE,
            'Y' AS PRE_PRCS_YN
        FROM PMOWN.TN_PM_SMLT_CKNCT_TYPE_ATRB_PRC A
        WHERE A.CKNCT_TYPE_ATRB_ID = #{fixAtrbGroupId}
        ORDER BY A.ALN_CD
    </select>

    <update id="updateAtrbValue">
        /* CastConfigMapper.updateAtrbValue */
        <!-- 문자·숫자 컬럼이 같은 문장을 쓴다. 바인딩 타입은 호출하는 쪽이 정한다 -->
        UPDATE PMOWN.${tableNm}
        SET ${columnNm} = #{value},
            LAST_MDFR_ID = #{loginUserId},
            LAST_MDFR_IP_ADDR = #{loginIpAddr},
            LAST_MDFCN_DT = CURRENT_TIMESTAMP
        WHERE 1 = 1
        AND ${groupColumnNm} = #{fixAtrbGroupId}
        AND ${keyColumnNm} = #{keyCd}
        <if test="dtlColumnNm != null and dtlColumnNm != ''">
        AND ${dtlColumnNm} = #{dtlSeCd}
        </if>
    </update>

    <update id="copyFromGroup">
        /* CastConfigMapper.copyFromGroup */
        UPDATE PMOWN.${tableNm} A
        SET
        <foreach collection="valueColumnList" item="columnNm" separator=",">
            A.${columnNm} = (
                SELECT B.${columnNm}
                FROM PMOWN.${tableNm} B
                WHERE B.${groupColumnNm} = #{srcFixAtrbGroupId}
                AND B.${keyColumnNm} = A.${keyColumnNm}
                <if test="dtlColumnNm != null and dtlColumnNm != ''">
                AND B.${dtlColumnNm} = A.${dtlColumnNm}
                </if>
            )
        </foreach>,
            A.LAST_MDFR_ID = #{loginUserId},
            A.LAST_MDFR_IP_ADDR = #{loginIpAddr},
            A.LAST_MDFCN_DT = CURRENT_TIMESTAMP
        WHERE 1 = 1
        AND A.${groupColumnNm} = #{fixAtrbGroupId}
        AND A.${keyColumnNm} = #{keyCd}
        <if test="dtlColumnNm != null and dtlColumnNm != ''">
        AND A.${dtlColumnNm} = #{dtlSeCd}
        </if>
        AND EXISTS (
            SELECT 1
            FROM PMOWN.${tableNm} B
            WHERE B.${groupColumnNm} = #{srcFixAtrbGroupId}
            AND B.${keyColumnNm} = A.${keyColumnNm}
            <if test="dtlColumnNm != null and dtlColumnNm != ''">
            AND B.${dtlColumnNm} = A.${dtlColumnNm}
            </if>
        )
    </update>

    <insert id="insertFromBaseGroup">
        /* CastConfigMapper.insertFromBaseGroup */
        INSERT INTO PMOWN.${tableNm} (
            ${groupColumnNm},
            ${keyColumnNm},
            <if test="dtlColumnNm != null and dtlColumnNm != ''">
            ${dtlColumnNm},
            </if>
            <foreach collection="valueColumnList" item="columnNm" separator=",">
                ${columnNm}
            </foreach>,
            FRST_RGTR_ID,
            FRST_RGTR_IP_ADDR,
            FRST_REG_DT
        )
        SELECT
            #{fixAtrbGroupId},
            A.${keyColumnNm},
            <if test="dtlColumnNm != null and dtlColumnNm != ''">
            A.${dtlColumnNm},
            </if>
            <foreach collection="valueColumnList" item="columnNm" separator=",">
                A.${columnNm}
            </foreach>,
            #{loginUserId},
            #{loginIpAddr},
            CURRENT_TIMESTAMP
        FROM PMOWN.${tableNm} A
        WHERE 1 = 1
        AND A.${groupColumnNm} = '001'
    </insert>

    <select id="retrieveAplyHstrySn" resultType="long">
        /* CastConfigMapper.retrieveAplyHstrySn */
        SELECT PMOWN.SQ1_TN_PM_SMLT_ATRB_APLY.NEXTVAL FROM DUAL
    </select>

    <insert id="insertAplyHstry" parameterType="aoms.pm.cast.dto.CastConfigAplyHstryDto">
        /* CastConfigMapper.insertAplyHstry */
        INSERT INTO PMOWN.TN_PM_SMLT_ATRB_APLY_HSTRY (
            APLY_SN,
            SRC_FIX_ATRB_GROUP_ID,
            TGT_FIX_ATRB_GROUP_ID,
            TMNL_ID,
            TBL_NM,
            SHEET_NM,
            APLY_ROW_CNT,
            CNCL_YN,
            FRST_RGTR_ID,
            FRST_RGTR_IP_ADDR,
            FRST_REG_DT
        ) VALUES (
            #{aplySn},
            #{srcFixAtrbGroupId},
            #{tgtFixAtrbGroupId},
            #{tmnlId},
            #{tblNm},
            #{sheetNm},
            #{aplyRowCnt},
            'N',
            #{loginUserId},
            #{loginIpAddr},
            CURRENT_TIMESTAMP
        )
    </insert>

    <insert id="insertAplyHstryDtl">
        /* CastConfigMapper.insertAplyHstryDtl */
        <!-- 값 컬럼이 시트마다 달라 컬럼명을 행으로 눕힌다. 되돌릴 때 그대로 ${columnNm} 이 된다 -->
        INSERT INTO PMOWN.TN_PM_SMLT_ATRB_APLY_HSTRY_DTL (
            APLY_SN, ATRB_CD, DTL_SE_CD, COLUMN_NM, BEF_VL, AFT_VL
        )
        <foreach collection="valueColumnList" item="columnNm" separator=" UNION ALL ">
            SELECT
                #{aplySn},
                #{keyCd},
                #{dtlSeCd},
                #{columnNm},
                TO_CHAR(T.${columnNm}),
                TO_CHAR(S.${columnNm})
            FROM PMOWN.${tableNm} T, PMOWN.${tableNm} S
            WHERE T.${groupColumnNm} = #{tgtFixAtrbGroupId}
            AND T.${keyColumnNm} = #{keyCd}
            <if test="dtlColumnNm != null and dtlColumnNm != ''">
            AND T.${dtlColumnNm} = #{dtlSeCd}
            </if>
            AND S.${groupColumnNm} = #{srcFixAtrbGroupId}
            AND S.${keyColumnNm} = #{keyCd}
            <if test="dtlColumnNm != null and dtlColumnNm != ''">
            AND S.${dtlColumnNm} = #{dtlSeCd}
            </if>
        </foreach>
    </insert>

    <select id="retrieveAplyHstryList" resultType="aoms.pm.cast.dto.CastConfigAplyHstryDto">
        /* CastConfigMapper.retrieveAplyHstryList */
        SELECT
            A.APLY_SN AS APLY_SN,
            A.SRC_FIX_ATRB_GROUP_ID AS SRC_FIX_ATRB_GROUP_ID,
            A.TGT_FIX_ATRB_GROUP_ID AS TGT_FIX_ATRB_GROUP_ID,
            NVL(A.TMNL_ID, ' ') AS TMNL_ID,
            NVL(A.TBL_NM, ' ') AS TBL_NM,
            NVL(A.SHEET_NM, ' ') AS SHEET_NM,
            NVL(A.APLY_ROW_CNT, 0) AS APLY_ROW_CNT,
            NVL(A.CNCL_YN, 'N') AS CNCL_YN,
            CASE
                WHEN NVL(A.CNCL_YN, 'N') = 'N'
                 AND NOT EXISTS (
                    SELECT 1
                    FROM PMOWN.TN_PM_SMLT_ATRB_APLY_HSTRY N
                    WHERE N.TGT_FIX_ATRB_GROUP_ID = A.TGT_FIX_ATRB_GROUP_ID
                    AND NVL(N.TMNL_ID, ' ') = NVL(A.TMNL_ID, ' ')
                    AND N.TBL_NM = A.TBL_NM
                    AND NVL(N.CNCL_YN, 'N') = 'N'
                    AND N.APLY_SN > A.APLY_SN
                 ) THEN 'Y'
                ELSE 'N'
            END AS REVERTABLE_YN,
            NVL(TO_CHAR(A.FRST_REG_DT, 'YYYYMMDDHH24MISS'), ' ') AS FRST_REG_DT,
            NVL(A.FRST_RGTR_ID, ' ') AS FRST_RGTR_ID
        FROM PMOWN.TN_PM_SMLT_ATRB_APLY_HSTRY A
        WHERE 1 = 1
        AND A.TGT_FIX_ATRB_GROUP_ID = #{tgtFixAtrbGroupId}
        <if test="tmnlId != null and tmnlId != ''">
            AND A.TMNL_ID = #{tmnlId}
        </if>
        <if test="sheetNm != null and sheetNm != ''">
            AND A.SHEET_NM = #{sheetNm}
        </if>
        ORDER BY A.APLY_SN DESC
    </select>

    <select id="retrieveAplyHstryDtlList" resultType="aoms.pm.cast.dto.CastConfigAplyHstryDtlDto">
        /* CastConfigMapper.retrieveAplyHstryDtlList */
        SELECT
            A.APLY_SN AS APLY_SN,
            A.ATRB_CD AS ATRB_CD,
            A.DTL_SE_CD AS DTL_SE_CD,
            A.COLUMN_NM AS COLUMN_NM,
            A.BEF_VL AS BEF_VL,
            A.AFT_VL AS AFT_VL
        FROM PMOWN.TN_PM_SMLT_ATRB_APLY_HSTRY_DTL A
        WHERE 1 = 1
        AND A.APLY_SN = #{aplySn}
        ORDER BY A.ATRB_CD, A.DTL_SE_CD, A.COLUMN_NM
    </select>

    <select id="retrieveAplyHstry" resultType="aoms.pm.cast.dto.CastConfigAplyHstryDto">
        /* CastConfigMapper.retrieveAplyHstry */
        SELECT
            A.APLY_SN AS APLY_SN,
            A.SRC_FIX_ATRB_GROUP_ID AS SRC_FIX_ATRB_GROUP_ID,
            A.TGT_FIX_ATRB_GROUP_ID AS TGT_FIX_ATRB_GROUP_ID,
            NVL(A.TMNL_ID, ' ') AS TMNL_ID,
            NVL(A.TBL_NM, ' ') AS TBL_NM,
            NVL(A.SHEET_NM, ' ') AS SHEET_NM,
            NVL(A.APLY_ROW_CNT, 0) AS APLY_ROW_CNT,
            NVL(A.CNCL_YN, 'N') AS CNCL_YN,
            NVL(TO_CHAR(A.FRST_REG_DT, 'YYYYMMDDHH24MISS'), ' ') AS FRST_REG_DT,
            NVL(A.FRST_RGTR_ID, ' ') AS FRST_RGTR_ID
        FROM PMOWN.TN_PM_SMLT_ATRB_APLY_HSTRY A
        WHERE A.APLY_SN = #{aplySn}
    </select>

    <update id="updateAplyHstryCancel">
        /* CastConfigMapper.updateAplyHstryCancel */
        UPDATE PMOWN.TN_PM_SMLT_ATRB_APLY_HSTRY A
        SET CNCL_YN = 'Y',
            CNCL_DT = CURRENT_TIMESTAMP,
            CNCL_RGTR_ID = #{loginUserId}
        WHERE A.APLY_SN = #{aplySn}
        AND A.CNCL_YN = 'N'
        AND NOT EXISTS (
            SELECT 1
            FROM PMOWN.TN_PM_SMLT_ATRB_APLY_HSTRY N
            WHERE N.TGT_FIX_ATRB_GROUP_ID = A.TGT_FIX_ATRB_GROUP_ID
            AND NVL(N.TMNL_ID, ' ') = NVL(A.TMNL_ID, ' ')
            AND N.TBL_NM = A.TBL_NM
            AND NVL(N.CNCL_YN, 'N') = 'N'
            AND N.APLY_SN > A.APLY_SN
        )
    </update>
</mapper>
