<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aoms.pm.cast.mapper.CastMapMapper">
    <select id="retrieveMapRsltDayList" resultType="aoms.pm.cast.dto.SmltRsltRawDto">
        /* CastMapMapper.retrieveMapRsltDayList */
        SELECT
            TO_CHAR(A.SMLT_ACTL_DT, 'HH24')
                || LPAD(FLOOR(TO_NUMBER(TO_CHAR(A.SMLT_ACTL_DT, 'MI')) / 30) * 30, 2, '0') AS TIME,
            B.UP_PSG_FCLT_CD,
            CASE
                WHEN B.UP_PSG_FCLT_CD IN ('CC', 'CK', 'SBD') THEN SUBSTR(B.PSG_FCLT_CD, -3, 1)
                WHEN B.UP_PSG_FCLT_CD IN ('LGT') THEN SUBSTR(B.PSG_FCLT_CD, 4, 1)
                WHEN B.UP_PSG_FCLT_CD IN ('SC', 'SR') THEN SUBSTR(B.PSG_FCLT_CD, 5, 1)
                ELSE ' '
            END AS UNIT_CD,
            NVL(MAX(A.WTNG_PSG_CNT), 0) AS WTNG_PSG_CNT,
            NVL(SUM(A.TRNST_PSG_CNT), 0) AS TRNST_PSG_CNT,
            NVL(ROUND(AVG(A.AVG_WTNG_HR)), 0) AS WTNG_HR,
            NVL(ROUND(AVG(A.AVG_PRCS_HR)), 0) AS PRCS_HR
        FROM PMOWN.TN_PM_SMLT_RSLT_DTL A
            INNER JOIN PMOWN.TN_PM_SMLT_PSG_FCLT B
            ON A.PSG_FCLT_CD = B.PSG_FCLT_CD
        WHERE 1 = 1
        AND A.SMLT_ID = #{smltId}
        AND B.TMNL_ID = #{tmnlId}
        AND B.USE_YN = 'Y'
        AND B.UP_PSG_FCLT_CD IN (<foreach collection="upPsgFcltCdList" item="item" separator=",">#{item}</foreach>)
        GROUP BY
            TO_CHAR(A.SMLT_ACTL_DT, 'HH24')
                || LPAD(FLOOR(TO_NUMBER(TO_CHAR(A.SMLT_ACTL_DT, 'MI')) / 30) * 30, 2, '0'),
            B.UP_PSG_FCLT_CD,
            CASE
                WHEN B.UP_PSG_FCLT_CD IN ('CC', 'CK', 'SBD') THEN SUBSTR(B.PSG_FCLT_CD, -3, 1)
                WHEN B.UP_PSG_FCLT_CD IN ('LGT') THEN SUBSTR(B.PSG_FCLT_CD, 4, 1)
                WHEN B.UP_PSG_FCLT_CD IN ('SC', 'SR') THEN SUBSTR(B.PSG_FCLT_CD, 5, 1)
                ELSE ' '
            END
        ORDER BY TIME, B.UP_PSG_FCLT_CD, UNIT_CD
    </select>
</mapper>
