<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aoms.pm.cast.mapper.CastFltPsgMapper">
    <select id="retrieveFltPsgHourList" resultType="aoms.pm.cast.dto.FltPsgRawDto">
        /* CastFltPsgMapper.retrieveFltPsgHourList */
        SELECT
            SUBSTR(A.PREDC_HM, 1, 2) AS HOUR,
            COUNT(*) AS FLT_CNT,
            SUM(A.RSVT_BDPSG_CNT - A.RSVT_TRNS_BDPSG_CNT) AS PSG_CNT
        FROM GOOWN.TN_GO_GD_DATA A
        WHERE 1 = 1
        AND A.GD_SE_YMD = #{ymd}
        -- T1 은 제1여객터미널(P01) + 탑승동(P02), T2 는 제2여객터미널(P03)
        AND A.TMNL_ID IN (<foreach collection="tmnlIdList" item="item" separator=",">#{item}</foreach>)
        -- 유효 운항편 필터 8종
        AND A.ARR_DEP_SE_CD = 'D'
        AND A.CSHR_STTS_CD != 'SL'
        AND A.PSG_CGO_SE_CD = 'Y'
        AND A.ARCFT_USE_SE_CD IN ('0', '1')
        AND A.GD_FLT_PRPS_CD IN ('00', '05')
        AND A.FRY_YN NOT IN ('Y')
        AND A.DOM_INTL_SE_CD NOT IN ('D')
        AND A.DLY_RSN_CD NOT IN ('2', '3')
        AND A.PREDC_HM IS NOT NULL
        GROUP BY SUBSTR(A.PREDC_HM, 1, 2)
        ORDER BY HOUR
    </select>

    <update id="updateUserFltPsg" parameterType="aoms.pm.cast.dto.UserSmltFltPsgSaveDto">
        /* CastFltPsgMapper.updateUserFltPsg */
        UPDATE PMOWN.TN_PM_SMLT_USER_FLT_PSG
        SET ADJ_TYPE_CD = #{adjTypeCd},
            ADJ_RT = #{adjRate},
            LAST_MDFR_ID = #{loginUserId},
            LAST_MDFR_IP_ADDR = #{loginIpAddr},
            LAST_MDFCN_DT = CURRENT_TIMESTAMP
        WHERE 1 = 1
        AND SMLT_ID = #{smltId}
        AND TMNL_ID = #{fcltTmnlId}
    </update>

    <insert id="insertUserFltPsg" parameterType="aoms.pm.cast.dto.UserSmltFltPsgSaveDto">
        /* CastFltPsgMapper.insertUserFltPsg */
        INSERT INTO PMOWN.TN_PM_SMLT_USER_FLT_PSG (
            SMLT_ID,
            TMNL_ID,
            ADJ_TYPE_CD,
            ADJ_RT,
            FRST_RGTR_ID,
            FRST_RGTR_IP_ADDR,
            FRST_REG_DT
        ) VALUES (
            #{smltId},
            #{fcltTmnlId},
            #{adjTypeCd},
            #{adjRate},
            #{loginUserId},
            #{loginIpAddr},
            CURRENT_TIMESTAMP
        )
    </insert>

    <delete id="deleteUserFltPsgHrList" parameterType="aoms.pm.cast.dto.UserSmltFltPsgSaveDto">
        /* CastFltPsgMapper.deleteUserFltPsgHrList */
        DELETE FROM PMOWN.TN_PM_SMLT_USER_FLT_PSG_HR
        WHERE 1 = 1
        AND SMLT_ID = #{smltId}
        AND TMNL_ID = #{fcltTmnlId}
    </delete>

    <insert id="insertUserFltPsgHrList" parameterType="aoms.pm.cast.dto.UserSmltFltPsgSaveDto">
        /* CastFltPsgMapper.insertUserFltPsgHrList */
        INSERT ALL
        <foreach collection="hourList" item="hour">
        INTO PMOWN.TN_PM_SMLT_USER_FLT_PSG_HR (
            SMLT_ID,
            TMNL_ID,
            BGNG_HM,
            END_HM,
            ADJ_RT,
            FRST_RGTR_ID,
            FRST_RGTR_IP_ADDR,
            FRST_REG_DT
        ) VALUES (
            #{smltId},
            #{fcltTmnlId},
            #{hour.bgnTime},
            #{hour.endTime},
            #{hour.adjRate},
            #{loginUserId},
            #{loginIpAddr},
            CURRENT_TIMESTAMP
        )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>
</mapper>
