<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aoms.pm.cast.mapper.UserMapper">
    <select id="retrieveUserInfoByKey" parameterType="string" resultType="aoms.pm.cast.dto.UserDto">
        /* UserMapper.retrieveUserInfoByKey */
        SELECT 
            A.USER_ID, 
            A.DEPT_CD,
            A.USER_NM,
            B.DEPT_NM
        FROM CAOWN.TN_CA_USER A
            LEFT JOIN CAOWN.TN_CA_DEPT B
            ON A.DEPT_CD = B.DEPT_CD
        WHERE USER_ID = #{userId}
    </select>

    <select id="retrieveRoleIdList" parameterType="string" resultType="string">
        /* UserMapper.retrieveRoleIdList */
        SELECT A.ROLE_ID
        FROM CAOWN.TN_CA_USER_ROLE A
            INNER JOIN CAOWN.TN_CA_ROLE B ON A.ROLE_ID = B.ROLE_ID
        WHERE A.USER_ID = #{userId}
          AND B.TASK_ID = 'PM'
          AND B.USE_YN = 'Y'
        ORDER BY A.ROLE_ID
    </select>
</mapper>
