<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="batch.ScshOperPrfmncMapper">
    <!--
        하루치를 통째로 읽는다. 앞뒤로 범위를 넓히면 경계 시간대가 스냅샷 몇 개만 가진 채로
        집계돼 이미 적재된 정상 행을 덮어쓴다.
    -->
    <select id="retrieveScshWtngList" resultType="batch.ScshWtngRawDto">
        /* ScshOperPrfmncMapper.retrieveScshWtngList */
        SELECT
            A.PSG_FLOW_DATA_CRT_DT,
            A.TMNL_ID,
            A.CHKN_ISL_CD,
            A.FCLT_NM,
            A.FCLT_TYPE_CD,
            NVL(A.WTNG_LINE_LEN, 0) AS WTNG_LINE_LEN,
            NVL(A.DALY_ACML_PSG_CNT, 0) AS DALY_ACML_PSG_CNT
        FROM PMOWN.TN_PM_PSG_WTNG_INFO A
        WHERE 1 = 1
        -- 여객흐름자료생성일시는 yyyyMMddHHmm 문자열이자 PK 선두라 앞자리 범위로 자른다
        AND A.PSG_FLOW_DATA_CRT_DT BETWEEN #{ymd} || '0000' AND #{ymd} || '2359'
        AND A.FCLT_TYPE_CD = 'SC'
        ORDER BY A.TMNL_ID, A.FCLT_NM, A.PSG_FLOW_DATA_CRT_DT
    </select>

    <!-- 벌크 upsert 는 Oracle MERGE 를 쓴다 (VALUES 다중행은 ORA-00933) -->
    <update id="upsertList">
        /* ScshOperPrfmncMapper.upsertList */
        MERGE INTO PMOWN.TN_PM_SCSH_OPER_PRFMNC A
        USING (
            <foreach collection="list" item="item" separator="UNION ALL">
            SELECT
                #{item.totDt} AS TOT_DT,
                #{item.tmnlId} AS TMNL_ID,
                #{item.dptgtNo} AS DPTGT_NO,
                #{item.scshOperCntom} AS SCSH_OPER_CNTOM,
                #{item.scshObsrvnCntom} AS SCSH_OBSRVN_CNTOM,
                #{item.wtngPsgCnt} AS WTNG_PSG_CNT
            FROM DUAL
            </foreach>
        ) B
        ON (
            A.TOT_DT = B.TOT_DT
            AND A.TMNL_ID = B.TMNL_ID
            AND A.DPTGT_NO = B.DPTGT_NO
        )
        WHEN MATCHED THEN
            UPDATE SET
                A.SCSH_OPER_CNTOM = B.SCSH_OPER_CNTOM,
                A.SCSH_OBSRVN_CNTOM = B.SCSH_OBSRVN_CNTOM,
                A.WTNG_PSG_CNT = B.WTNG_PSG_CNT,
                A.LAST_MDFR_ID = #{regId},
                A.LAST_MDFR_IP_ADDR = #{regIp},
                A.LAST_MDFCN_DT = SYSTIMESTAMP
        WHEN NOT MATCHED THEN
            INSERT (TOT_DT, TMNL_ID, DPTGT_NO, SCSH_OPER_CNTOM, SCSH_OBSRVN_CNTOM, WTNG_PSG_CNT, FRST_RGTR_ID, FRST_RGTR_IP_ADDR, FRST_REG_DT)
            VALUES (B.TOT_DT, B.TMNL_ID, B.DPTGT_NO, B.SCSH_OPER_CNTOM, B.SCSH_OBSRVN_CNTOM, B.WTNG_PSG_CNT, #{regId}, #{regIp}, SYSTIMESTAMP)
    </update>
</mapper>
