<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aoms.pm.cast.mapper.CastSlfchknMapper">
    <select id="retrieveSlfDeviceCntList" resultType="aoms.pm.cast.dto.SlfDeviceCntRawDto">
        /* CastSlfchknMapper.retrieveSlfDeviceCntList */
        SELECT
            ISLAND,
            SLF_TYPE,
            COUNT(PSG_FCLT_CD) AS DEVICE_CNT
        FROM (
            SELECT
                B.PSG_FCLT_CD,
                CASE
                    WHEN B.UP_PSG_FCLT_CD = 'CK'
                    THEN 'KIOSK'
                    ELSE B.UP_PSG_FCLT_CD
                END AS SLF_TYPE,
                CASE
                    WHEN B.UP_PSG_FCLT_CD = 'CK'
                    THEN SUBSTR(B.SMLT_FCLT_NM, -3, 1)
                    WHEN B.UP_PSG_FCLT_CD = 'SBD'
                    THEN SUBSTR(B.PSG_FCLT_CD, -3, 1)
                END AS ISLAND
            FROM PMOWN.TN_PM_SMLT_PSG_FCLT B
            WHERE 1 = 1
            AND B.TMNL_ID = #{tmnlId}
            AND B.UP_PSG_FCLT_CD IN ('CK', 'SBD')
            AND B.USE_YN = 'Y'
        )
        WHERE ISLAND IS NOT NULL
        GROUP BY ISLAND, SLF_TYPE
        ORDER BY ISLAND, SLF_TYPE
    </select>
</mapper>